.landingPageContainer {
    width: 100vw;
    height: 100vh;
    background:url('/landingpage.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.landingPageContainer nav{
  padding-inline: 9.2rem;
  padding-block: 7.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landingPageContainer nav h1{
  font-size: 12rem;
  font-weight: 500;
}

.landingPageContainer nav .navlist{
  display: flex;
  gap: 9.6rem;
  cursor: pointer;
}

.landingPageContainer nav .navlist p{
  font-size: 3.9rem;
  font-weight: 400;
}

.landingMainContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
  padding-inline: 3rem ;
}

.landingMainContainer >div:nth-child(1){
  font-size: 5rem;
}
.landingMainContainer >div:nth-child(1) button{
  margin-top: 4rem;
  width: fit-content;
  padding: 3.5rem 5rem;
  font-size: 4.5rem;
  background-color: #FF9839;
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;
  color: white;
}

.landingMainContainer >div:nth-child(2) img{
  height: 70vh;
  width: auto;
}